*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cardHighlight{
	min-height: 100%;
}

.cardTitle{
	font-size: 2rem !important;
	color: #265aad !important
}

.cardDescription, .cardPrice, .enrollees, .seats{
	font-weight: bolder !important;
	color: #417ee0 !important;
}

